html { font-size: 100px; }
body { font-size: 0.12rem; }

a { text-decoration: none; }
button {
  background: none;
  border: none; outline: none;
  padding: 0;
}
img { max-width: 100%; }
ul, ol, li { list-style: none; padding: 0; margin: 0; }
